name: Build Vulkan Loader

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Prepare Vulkan SDK
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
         vulkan-query-version: latest
         vulkan-components: Vulkan-Loader
         vulkan-use-cache: true
