name: Build Vulkan Loader

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Install Vulkan SDK
        uses: humbletim/install-vulkan-sdk@v1.2
        with:
         version: 1.4.335.0
         cache: true

      - name: Upload Vulkan SDK
        uses: actions/upload-artifact@v4
        with:
          name: vulkan-sdk
          path: D:/a/sdkdownloader/sdkdownloader/VULKAN_SDK
